body {
    margin: 0;
    background-color : #2d2e30;
    color: white
    
}

.budget-alert{
    background-color: grey;
    border: 1px solid;
}

.type-card{
    height: 75px
}

.type-card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 black;
    z-index: 3;
  
}

.form-select{
    width: 40%;
    height: 40px
}
.expense-list{
    height: 60vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.progress-total
{
    height: 20px;
}

.category-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-category{

    height:25px;
    width: 50%
    
}

.progress-category-together{
    height: 50px;
    
}


.option-btn{
    
    text-align: right;
    margin-top: 10px;
    
}

.sergio{
    height: 30em;
    width: 70em;
}
.bar-total{
    width: var(--prog-percent); 
}

.bar-total-grocery{
    width: var(--prog-percent-grocery);
}

.bar-total-rent{
    width: var(--prog-percent-rent);
}

.bar-total-gas{
    width: var(--prog-percent-gas);
}


.modalTitle-transaction{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(204, 71, 71)

}

.modalTitle-deposit{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(107, 223, 107)
}

.modalTitle-budget{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(238, 238, 114)
}

.modal-budget{
    color: white;
    background-color: #2d2e30;
}

/* LOGIN AND SIGN IN */
.login-form {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    margin-bottom: 30px;
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}


.btn-primary-login{
    color:white;
    background-color: #00b4db;
    border-color: #00b4db;
    border-radius: 25px;
    height: 50px;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
}

.btn-primary-login:hover {
    background-color: #0093ad;
    border-color: #0093ad;
}
.login-form {
    color: black;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    animation: shake 0.5s;
    animation-iteration-count: 2
}

.login-form h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px; /* Set the font size to 36 pixels */
    color: #333; /* Set the color to dark gray */
    position: relative; /* Set the position to relative */
}


.container-login {
    margin-top: 50px;
}


.signup-section {
    text-align: center;
    margin-top: 25px;
}

.signup-section p {
    margin-bottom: 0;
}

.signup-section a {
    color: #00b4db;
    font-weight: bold;
    text-decoration: none;
}

.signup-section a:hover {
    text-decoration: underline;
}


.container-signup {
    margin-top: 50px;
}

.signup-form {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    color: black
}

.signup-form h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #333;
    position: relative;
}

.signup-form h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #00b4db;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}



.btn-signup {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #00b4db;
    border: 1px solid #00b4db;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-signup:hover {
    color: #fff;
    background-color: #0077b6;
    border-color: #0077b6;
}

.btn-signup:focus, .btn-signup.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 180, 219, 0.25);
}

.btn-signup-primary {
    background-color: #00b4db;
    border-color: #00b4db;
}

.btn-signup-primary:hover {
    background-color: #0077b6;
    border-color: #0077b6;
}






