body {
    margin: 0 auto;
    background-color : #2d2e30;
    color: white;
 
}

.budget-alert{
    background-color: grey;
    border: 1px solid;
}

.type-card{
    height: 75px
}

.type-card:hover{
    transform: scale(1.1);
    box-shadow: 0 10px 40px 0 black;
    z-index: 3;
  
}

.form-select{
    width: 40%;
    height: 40px
}
.expense-list{
    height: 60vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: auto;
}

.progress-total
{
    height: 20px;
}

.category-container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.progress-category{

    height:25px;
    width: 50%
    
}

.progress-category-together{
    height: 50px;
    
}


.option-btn{
    
    text-align: right;
    margin-top: 10px;
    
}

.sergio{
    height: 30em;
    width: 70em;
}
.bar-total{
    width: var(--prog-percent); 
}

.bar-total-grocery{
    width: var(--prog-percent-grocery);
}

.bar-total-rent{
    width: var(--prog-percent-rent);
}

.bar-total-gas{
    width: var(--prog-percent-gas);
}


.modalTitle-transaction{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(204, 71, 71)

}

.modalTitle-transaction:hover{
    color: rgb(204, 71, 71)
}

.modalTitle-deposit{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(107, 223, 107)
}

.modalTitle-deposit:hover{
    color: rgb(107, 223, 107)
}

.modalTitle-budget{
    text-decoration: none;
    font-weight: 400;
    font-size: 10;
    color: rgb(238, 238, 114)
}

.modalTitle-budget:hover{
    color: rgb(238, 238, 114)
}

.modal-budget{
    color: white;
    background-color: #2d2e30;
}

/* LOGIN AND SIGN IN */
.login-form {
    height: 2;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 20px; /* reduce the padding */
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    font-size: 14px; /* reduce the font size */
  }
  


  .login-form h2 {
    margin-bottom: 20px; /* reduce the margin */
    text-align: center;
    font-size: 24px; /* reduce the font size */
  }


  .form-group {
    margin-bottom: 10px; /* reduce the margin */
  }




.btn-primary-login{
    color:white;
    background-color: #00b4db;
    border-color: #00b4db;
    border-radius: 25px;
    height: 40px; /* reduce the height */
    padding: 8px 20px; /* reduce the padding */
    font-size: 16px; /* reduce the font size */
    font-weight: bold;
  }

.btn-primary-login:hover {
    background-color: #0093ad;
    border-color: #0093ad;
}
.login-form {
    color: black;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
   
}

.login-form h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px; /* Set the font size to 36 pixels */
    color: #333; /* Set the color to dark gray */
    position: relative; /* Set the position to relative */
}


.container-login {
    margin-top: 50px;
}


.signup-section {
    text-align: center;
    margin-top: 25px;
}

.signup-section p {
    margin-bottom: 0;
}

.signup-section a {
    color: #00b4db;
    font-weight: bold;
    text-decoration: none;
}

.signup-section a:hover {
    text-decoration: underline;
}


.container-signup {
    margin-top: 50px;
}

.signup-form {
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    color: black
}

.signup-form h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    color: #333;
    position: relative;
}

.signup-form h2::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 2px;
    background-color: #00b4db;
}

.form-group-login {
    margin-bottom: 20px;
}

.form-group-login label {
    display: block;
    margin-bottom: 5px;
}

.form-control-login {
    height: 35px;
    border-radius: 25px;
    box-shadow: none;
    border: 1px solid #e6e6e6;
}

.form-control-login:focus {
    border-color: #00b4db;
    box-shadow: none;
}

.btn-signup {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: #00b4db;
    border: 1px solid #00b4db;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 25px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-signup:hover {
    color: #fff;
    background-color: #0077b6;
    border-color: #0077b6;
}

.btn-signup:focus, .btn-signup.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 180, 219, 0.25);
}

.btn-signup-primary {
    background-color: #00b4db;
    border-color: #00b4db;
}

.btn-signup-primary:hover {
    background-color: #0077b6;
    border-color: #0077b6;
}

.login-with-google-btn {
    transition: background-color .3s, box-shadow .3s;
      
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
    
    color: #757575;
    font-size: 14px;
    font-weight: 500;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: white;
    background-repeat: no-repeat;
    background-position: 12px 11px;
}

.login-with-google-btn:hover {
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
    }
    

.login-with-google-btn:active {
      background-color: #eeeeee;
}
    
.login-with-google-btn:focus {
    outline: none;
    box-shadow: 
        0 -1px 0 rgba(0, 0, 0, .04),
        0 2px 4px rgba(0, 0, 0, .25),
        0 0 0 3px #c8dafc;
 }
    
.login-with-google-btn:disabled {
      filter: grayscale(100%);
      background-color: #ebebeb;
      box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
      cursor: not-allowed;
    }

.nav_container{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
} 

li>a, .navbtn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
    font: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;  
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color:#00b4db;
}

.navbtn{
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.navbtn:hover{
    background-color: rgba(0,136,169,0.8);

}